
* {
    box-sizing: border-box;
   }
   
   html {
       padding-top:50px;
   }
   
   
   
   body {
       border: 8px solid rgb(255, 255, 255);
       border-radius: 20px;
       padding: 40px;
       width: 60%;
       height: 400px;
       margin: 0 auto;
       background: url('https://img5.goodfon.com/wallpaper/nbig/f/2b/clock-gears-hands-numbers-black-background-simple-background.jpg');
   }
   
   #clock {
       height:120px;
       font-size: 40px;
       font-family: arial;
       font-weight: bold;
       display: flex;
       justify-content: center;
       align-items: center;
     color: white;
   }
   
   h2 {
    text-align:center;
     
   
   }
   
   #alarm-container {
    text-align:center;
       font-family: Verdana;
       font-size: 0.6em;
       padding: 0.7em;
     color: white;
   }
   
   label {
    display:inline-block;
   }
   
   .timeofday {
       background-color: #eee;
   }
   
   .bigger {
       font-weight:bold;
       font-size: 18px;
   }
   
   #sounds {
       text-align: center;
       padding-top: 20px;
   }
   
   #setButton {
       float:left;
       background-color:rgb(255, 196, 2);
       margin-top:10px;
   }
   #clearButton {
       float:right;
       background-color:rgb(245, 4, 4);
       margin-top:10px;
   }
   